<div class="support-container">
  
        <div class="right-side">
            <p class="text1"> CliniqueLib <span> Assistance </span> </p>
            <p class="extra"> Home </p>    
            <hr>
            <p class="text2"> How can we help you? </p>
            <form>
                <p class="text3"> Email </p>
                <input type="email" placeholder="Enter your email" required>
                <p class="text3"> Please let us help you </p>
                <textarea class="issue" placeholder="Describe your issue"></textarea>
                <button type="submit" class="submit-button">Submit</button>
            </form>
            <p class="text4"> we can serve you better when you are using your account </p>
            <button> Sign in </button>
            <button> sign up </button>
        </div>
</div>


    