.login-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}
.login-layout {
  display: flex;
  min-height: 100vh; // full viewport height

  .welcome-panel {
    flex: 4; // takes half the space (or adjust with flex-basis)
    display: flex;
    align-items: center;
    background-color: rgb(4, 122, 158);
    justify-content: center;
    color: rgb(226, 15, 15);
    padding: 2rem;

    .marketing-card {
      max-width: 400px;
      font-size: 1.5rem;
      line-height: 1.6;
      text-align: left;
    }
  }

  .login-panel {
    flex: 2; // takes half the space (or adjust with flex-basis)

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .login-card {
      width: 100%;
      max-width: 360px;
      padding: 2rem;

      h1 {
        margin-bottom: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: fit-content;

        button {
          margin-top: 1rem;
        }
      }
    }
  }
}

// Responsive: stack on smaller screens
@media (max-width: 768px) {
  .login-layout {
    flex-direction: column;

    .welcome-panel,
    .login-panel {
      flex: none;
      width: 100%;
    }

    .login-panel {
      padding: 1rem;
    }
  }
}

.translation-wrapper {
  position: absolute;
  top: 16px; // distance from top
  right: 16px; // distance from right
  z-index: 100; // above other elements
}
